<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006</title>
    <head>
    <body>
    <p><b>Some of the projects I've completed for ENGI1006:</b><p>
    <p>
    <p>List modifier <p>
    <p>Percolation simulator<p>
    <p>Classroom simulator<p>
    <p>Machine learning project (identified benign and malignant tumors within a dataset)<p>
    <p>PPM Image editor (functions included filtering, black and white, and horizontal flip)<p>
    <p>This website!<p>
    </body>
</html>

