<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>ENGI1006</title>
    <head>
    <body>
    <p><b>Some of the projects I've completed for ENGI1006:</b><p>
    <p>
    <p><u>List modifier:</u> <p>
    <p>     -wrote various functions that would rearrange/alter given lists
    <p><u>Percolation simulator:</u><p>
    <p>     -used numpy arrays to create matrices that would predict whether
             water would flow from the top of a site to the bottom <p>
    <p><u>Classroom simulator:</u><p>
    <p>     -allowed the user to input a teacher, students (with names), assignments
             (with a given difficulty level), and would determine (and plot) grade distribution, the class average,
             and teacher's salary <p>
    <p><u>Machine learning project:</u><p>
            -used pandas (and an accumlation of techniques I've learned throughout the course)
             to identify benign and malignant tumors within a dataset, return data statistics,
             accuracy, heat maps, and other relevant plots <p>
    <p><u>PPM Image editor:</u><p>
            -functions included filtering, black and white, and horizontal flip<p>
    <p><u>This website!</u> (my personal favorite)<p>
    </body>
</html>

