<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <head>
    <body>
    <p><b>Here are the courses I've taken in the Spring 2020 semester:</b></p>
    <p>
    <p>Ordinary Differential Equations<p>
    <p>
    <p>Intermediate Microeconomics <p>
    <p>
    <p>Masterpieces of Western Music <p>
    <p>
    <p>Contemporary Civilizations<p>
    <p>
    <p>Introduction to Computing for Engineers and Applied Scientists<p>
    
    </body>
</html>

