<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Sophomore Year Classes</title>
    <head>
    <body>
    <p><b>Fall 2019 Courses:</b></p>
    <p>
    <p>Analysis and Optimization<p>
    <p>
    <p>Calculus IV <p>
    <p>
    <p>Masterpieces of Western Art <p>
    <p>
    <p>Contemporary Civilizations<p>
    <p>
    <p>Intermediate Macroeconomics<p>
    <p>
    <p>Ballet I<p>
    <p>
    <p><b>Spring 2020 Courses:</b></p>
    <p>
    <p>Ordinary Differential Equations<p>
    <p>
    <p>Intermediate Microeconomics <p>
    <p>
    <p>Masterpieces of Western Music <p>
    <p>
    <p>Contemporary Civilizations<p>
    <p>
    <p>Introduction to Computing for Engineers and Applied Scientists<p>
    
    </body>
</html>

