<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p><b>Welcome to my website!</b></p>
    <p>
    <p>Christine Anagnos<p>
    <p>
    <img src="/static/images/websitepicture.jpg" alt="default picture" width="654" height="790"> 
    <p><b>School:</b> Columbia College <p>
    <p><b>Year:</b> Sophomore <p>
    <p><b>Major: </b>Applied Mathematics (concentration in Economics) <p>
    <p><b>Hometown:</b> Haworth, NJ <p>
    <a href="http://127.0.0.1:5000/assignments">Visit 1006 part of website</a>
    <p>
    <a href="http://127.0.0.1:5000/classes">Current classes</a>
    <p>
    <a href="https://www.netflix.com">Here</a> is where I've spent most of my quarantine<p>
    </body>
</html>

